<div class="container-fluid d-flex d-md-block justify-content-between w-100">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
        aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" [routerLink]="'/'">
        <img src="./assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
    </a>
    <app-sidebar-user [classes]="['d-md-none']"></app-sidebar-user>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <app-navigation></app-navigation>
        <hr class="my-3">
    </div>
</div>