<div class="row justify-content-center">
  <div class="col-lg-5 col-md-7">
    <div class="card bg-secondary shadow border-0">
      <app-social-auth></app-social-auth>
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <small>Sign in with credentials</small>
        </div>
        <app-login-form></app-login-form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <a href="#" class="text-light"><small>Forgot password?</small></a>
      </div>
      <div class="col-6 text-right">
        <a href="#" class="text-light"><small>Create new account</small></a>
      </div>
    </div>
  </div>
</div>
